- if can_edit_phrases?
  .text-options#zenpenbubble
    .options
      %span.no-overflow
        %span.lengthen.ui-inputs
          %button.url.useicons &#xe005;
          %input.url-input{placeholder: "Type or Paste URL here", type: "text"}/
          %button.bold b
          %button.italic i





  #phrasing-edit-mode-bubble
    #phrasing-saved-status
      #phrasing-saved-status-headline
        %p Saved
      #phrasing-saved-status-indicator
        #phrasing-saved-status-indicator-circle
